/* cabeçalho fixo */
.menu {
  background: #011936;
  width: 100%;
  height: 37px;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

/* menu retrail lateral */
body {
  background-color: #011936;
  font-family: 'Open Sans', sans-serif;
  overflow-X: hidden;
}

#check {
  display: none;
}

#icone {
  cursor: pointer;
  padding: 32px;
  position: fixed;
  z-index: 1;

  border: 1px #ffffff solid;
  top: 20px;
  left: 20px;
}

.barra {
  background-color: #011936;
  height: 100%;
  width: 250px;
  position: fixed;
  transition: all .2s linear;
  left: -250px;

}

nav {
  width: 100%;
  position: absolute;
  top: 80px;
}


nav a {
  text-decoration: none;

}

.Link {
  background-color: #011936;
  padding: 20px;
  font-family: 'Gotham';
  font-size: 12pt;
  transition: all .3s linear;
  color: #FFFFFF;
  border-bottom: 1px solid #C1EEFF;
  opacity: 0;




}

.Link:hover {
  background-color: #2E86AB;
  color: #FFFFFF;

}

#check:checked~.barra {
  transform: translateX(250px);
}

#check:checked~.barra nav a .Link {
  opacity: 1;
  transition-delay: .3s;
}

#banner1 {
  padding-top: 97px;
  width: 100%;

}



.mburg {

  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 25px;
  left: 25px;
}

.hamburguer {
  position: relative;
  display: block;
  background: #C1EEFF;
  width: 30px;
  height: 3px;
  top: 29px;
  left: 15px;
  transition: .5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: #C1EEFF;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

input:checked~label .hamburguer {
  transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked~label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.cabecalho {
    height: 75px;
}


header {
    background: #011936;
}

.banner_home {
  background: #011936;
  float:inline-start;
  height: 250px;
  cursor: pointer;
  display: block;
}

.logo_back {
    background: url("banner1.jpg");
    margin-top: 20px;
}

/* media do cabeçalho */

@media screen and (min-width: 0) {
    .logo_back {
      width: 100%;
    }
    .banner_home {
      width: 15rem;
    }
  }

.home {
    padding: 15px 0px;
    background: linear-gradient(#011936, #2E86AB);
    width: 100%;
    margin: 0 auto;
}

.titulo_home {
    text-align: center;
    font-size:x-large;
    margin-top: 30px;
    margin-bottom: 30px;
    color: yellow;
    text-transform: uppercase;
}

.copy_home {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    line-height: 1.5rem;
}

/* media da copy */

@media screen and (min-width: 0) {
  .copy_home {
    margin-left: 2rem;
    margin-left: 2rem;
    text-align: center;
  }

  .titulo_home {
    margin-left: 2rem;
    margin-right: 4rem;
    text-align: center;
  }
}

/* fazer aqui amanhã */

.section_video {
    padding: 50px 0px;
    background: linear-gradient(#2E86AB, #011936);
}

.titulo_video {
  text-align: center;
    font-size:x-large;
    margin-bottom: 30px;
    color: yellow;
    text-transform: uppercase;
}

.video {
    width: 650px;
    display: flex;
    justify-content: center;
    margin: auto;
}

footer {
    text-align: left;
    background: linear-gradient(#011936, #2E86AB);
    padding: 40px 0;
}

.copyright {
    color:aliceblue;
    font-size: large;
    margin-left: 20px;
    margin-bottom: 100px;
}

.footer {
  height: 100px;
  float: right;
  display: absolute;
  margin-right: 100px;
  margin-bottom: 20px;
  border-bottom: 10px;
}
